<html>
    <head>
        <script type="text/javascript" src="/index.js"></script>
    </head>
    <body>
        <h1>React components performance test</h1>
        <ul>
            <li><a href="/inline-scripts.html">/inline-scripts.html</a></li>
            <li><a href="/request-animation-frame.html">/request-animation-frame.html</a></li>
        </ul>
    </body>
</html>