<html>
    <head>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>    
        <script type="text/javascript">
            window.addEventListener('DOMContentLoaded', (event) => {
                console.log('DOM fully loaded and parsed', event.timeStamp);
            });
            const DummyComponent = (props) => React.createElement('div', null, `This is a dummy component #${props.id}`);
        </script>
    </head>
    <body>
        <h1>Inline scripts performance test</h1>
        <% data.forEach(function(data, index) { %>
            <div id="component_<%=index %>" class="react-component"></div>
            <script type="text/javascript">
                ReactDOM.render(
                    React.createElement(DummyComponent, {
                        id: <%=index %>
                    }),
                    document.getElementById('component_<%= index%>')
                )
            </script>
        <% }) %>                
    </body>
</html>