<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>    
        <script type="text/javascript">
            if (window.NodeList && !NodeList.prototype.forEach) {
                NodeList.prototype.forEach = function (callback, thisArg) {
                    thisArg = thisArg || window;
                    for (var i = 0; i < this.length; i++) {
                        callback.call(thisArg, this[i], i, this);
                    }
                };
            }

            window.addEventListener('DOMContentLoaded', function(event) {
                console.log('DOM fully loaded and parsed', event.timeStamp);
            });
            const DummyComponent = function(props) {
                return React.createElement('div', null, "This is a dummy component #" + props.id);
            };
            
            const initReact = function() {
                console.log('initReact');
                const elements = document.querySelectorAll('.react-component');

                if (elements.length === 0) {
                    window.requestAnimationFrame(initReact);
                } else {
                    elements.forEach(function(element) {
                        ReactDOM.render(
                            React.createElement(DummyComponent, {
                                id: element.dataset.id
                            }),
                            element
                        )
                    });
                }
            };

            window.requestAnimationFrame(initReact);
        </script>
    </head>
    <body>
        <h1>Request animation frame performance test</h1>
        <% data.forEach(function(data, index) { %>
            <div id="component_<%=index %>" class="react-component" data-id="<%=index %>"></div>
        <% }) %>                
    </body>
</html>